.header {
    background-color: rgb(59, 59, 59);
    color: #fff;
    font-size: 16px;
    padding: 20px 10px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header a:hover {
    color: #c7c6c6;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    padding: 0;
    margin: 10px;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 15px;
}

.profileBox {
    width: 100px;
    display: flex;
    margin-right: 200px;
    cursor: pointer;
}

.profileBox svg {
    margin: auto 10px;
}

.profile {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: bisque;
    border-radius: 50%;
}

.profileMenu {
    width: 150px;
    position: absolute;
    background-color: #fff;
    color: #000;
    border: 1px solid #c7c6c6;
    border-radius: 5px;
    top: 65px;
    right: 160px;
}



.profileMenu li {
    padding: 5px 10px;
}

.profileMenu li:hover {
    background: #ccc;
}